@import "../../../styles/variables.scss";

.info-block {
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;

  .info-block-label {
    flex: 1;
    justify-content: center;

    p {
      font-size: 1em;
    }

    ng-icon {
      font-size: 3em;
    }
  }

  .info-block-value {
    flex: 1;
  }
}
